    body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: rgb(246, 167, 180);
            background-color: blueviolet;
        }
        a {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 25px;
            font-style: italic;
            color: black;
            text-decoration: none;
        }

        a:hover{

            text-decoration: underline;
            font-weight: bold;
            font-size: 30px;
        }

        /* changing the visual of a hyperlink when hovered over */

        a:visited{
            color: blue;
        }
        
        /* changing color of hyperlinks once clicked */

        li {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-style: italic;
            font-weight: normal;
        }
        .bold{ font-weight: bold; font-style: normal;}
        .justify{text-align: justify;}

        /* changing fonts of words on page */
    
 .homebg{
  background-image: url(../images/background.jpg);
  background-position: top center;
  /* background  putting in a background image repeat */
}

    .box1{
        border-width: 5px;
        border-style: solid;
        border-color: green;

          /* border: 5px solid green;> */
    }

    .box2{
        padding: 5px;
    }

    .box3{
        margin: 50px;

    }

    /* we balled out and colored things, added backgrounds, changed fonts, and made borders
    and formatting changed */